language: go
sudo: false

go:
  - 1.8.x
  - master

install:
  - go get ./...
  - go get github.com/mattn/goveralls

script:
  - make

  # make sure output not changed
  - git diff --exit-code

after_success:
  - bash <(curl -s https://codecov.io/bash) -X fix
  - goveralls -coverprofile=cover.out
