language: go
sudo: false

go:
  - 1.10.x
  - 1.11.x
  - master

matrix:
  allow_failures:
    - go: master

install:
  - go get ./...

script:
  - make

  # make sure output not changed
  - git diff --exit-code

after_success:
  - bash <(curl -s https://codecov.io/bash) -X fix -f cover.out
